*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: rgb(230, 230, 230);
}

#zones
{
    float: left;
    border: solid rgb(170, 170, 170) 1px;
}

#blue1, #blue2, #blue3, #white1, #white2, #white3, #red1, #red2, #red3
{
    float: left;
    width: 100px;
    height: 100px;
    border: solid rgb(170, 170, 170) 1px;
    text-align: center;
}

#blue1, #blue2, #blue3
{
    background-color: rgb(14, 127, 205);
}

#btBlue1, #btWhite1, #btRed1
{
    position: relative;
    top: 45%;
}

#white1, #white2, #white3
{
    background-color: rgb(255, 255, 255);
}

#red1, #red2, #red3
{
    background-color: rgb(255, 17, 33);
}

textArea
{
    resize: none;
    background-color: transparent;
    border: solid rgb(170, 170, 170) 2px;
}